@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url('fonts/idroid.otf') format('opentype');
    font-weight: normal;
    font-size: normal;
}
body {
   background-color: rgb(230, 223, 206); 
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
            
}

header  {
    background-image: linear-gradient(to top, rgb(33, 65, 48), #2ce27b);
    color: white;
    margin: 0px;
    padding: 10px; 

}

header > h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
}

header > h3 {
    font-weight: 400;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s; 
}

nav > a:hover {
    background-color: #51a073;
    color: darkgreen;
}

main a {
    color: darkgreen;
    background-color: aquamarine;
}

main a:hover {
    color: darkgreen;
    background-color: rgb(7, 224, 152);
}

a.icon::after {
    content: '\1F517';
}

article {
    background-color: white;
    max-width: 800px;
    min-width: 320px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.329);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
}

.idroid {
    font-family: 'idroid', Helvetica, sans-serif;
    font-size: 28px;
    color: green;
}

.bg {
    background-image: linear-gradient(to right, rgba(127, 255, 195, 0.548), white);
}

P {
    text-indent: 35px;
    text-align: justify;
}

picture.bugdroid {
    margin: auto;
}

.center {
    text-align: center;
}

aside {
    background-color: rgb(171, 199, 179);
    max-width: 750px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.377);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px ;
}

aside > h2 {
    background-color: green;
    padding: 10px;
    margin: -20px;
    border-radius: 10px 10px 0px 0px;
}

ul {
    list-style-position: inside;
    columns: 2;
}

.main{
    padding: 10px;
}

aside > p {
    font-weight: normal;
}

footer {
    margin-top: 20px;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-weight: 100;
    
}

p.normal {
    font-weight: normal;
}

article > div {
    max-width: 800px;
    min-width: none;
    margin: auto;
    padding-top: 10px;
}